<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <nav>
        <div>
            Flask Login
        </div>

        <div>
           {% if session.usuario %}
           Bienvenido {{ session.usuario.nombre }}

           <a href="{{ url_for('logout') }}">
                Cerrar Sesión
           </a>

           {% endif %}
        </div>
    </nav>

    <div class="container">

        {% block content %}
        {% endblock %}

    </div>

</body>
</html>